  /* Overall Document Styling */
  body{
      background-image: linear-gradient(rgb(0, 140, 255), rgba(188, 204, 209, 0.65)), url("../img/bg.jpg");
      font-family: 'Abel', sans-serif;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p {
    color: whitesmoke;
    font-family: 'Abel';
  }

  #h_title {
    font-size: 2.5rem;
    
  }

/* Home */
 .intro-img-norm {
  height: 500px;
  width: 800px;
  margin-top: 7%;
  float: right;
  z-index: -1;
 }

 .intro-text {
  height: 350px;
  width: 450px;
  background-color: rgba(0, 109, 199, 0.733);
  margin-top: 12%;
  position: absolute;
  z-index: 1;
 }

 .intro-img-mobile {
   display: none;
 }

 #icon-git {
   height: 44px;
   width: 40px;
   filter: invert(100%);
   z-index: 3;
 }

 .icon:hover {
  animation: dance 0.5s alternate infinite linear, bounce 2s 1.5s;
}

 #icon-lnki {
  height: 48px;
  width: 40px;
  filter: invert(100%);
  z-index: 3;
}

#icon-res {
  height: 40px;
  width: 32px;
  filter: invert(100%);
  z-index: 3;
}

#spacing1 {
  height: 250px;
}

#abbox{
  background-color: rgb(0, 109, 199, 0.733);
  height: auto;
  width: 80%;
}

#abimg{
  border: 2px ridge whitesmoke;
  border-radius: 2px;
  border-radius: 4px;
  margin-left: 10%;
  width: 60%;
}

#abcontent {
  margin-right: 10%;
  font-size: auto;
}


/* Responsiveness for Larger Resolutions */
@media (min-width: 1900px){
  
 .intro-text {
  margin-top: 8%;
 }

 #h_title{
   font-size: 3.5rem;
 }

 #spacing1 {
  height: 450px
}

#abimg {
  margin-left: 0%;
  width: 70%;
}

#abcontent {
  margin-right: 0%;
  font-size: 1.5rem;
}

}

 /*Responsiveness for Mobile */
@media (max-width: 600px){

  #nav-link1, #nav-link2, #nav-link3, #nav-link4 {
    padding-left: 2%;
  }

  h1 {
    font-size: 150%;
  }

  p {
    font-size: 80%;
  }

  .intro-img-norm {
    display: none;
  }

  .intro-img-mobile{
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    right: 5%;
    z-index: 2;
  }

  .intro-text {
  height: auto;
  width: auto;
  background-color: rgba(0, 109, 199, 0.733);
  margin-top: 12%;
  position: relative;
  z-index: 1;  
  }

  #abimg{
    height: auto;
    width: auto;
    display: block;
    right: 50%;
    left: 50%;
  }

  #abbox {
    width: auto;
    height: auto;
  }

}

/* Navigation Bar */
#navbar_title {
  animation-name: fade;
  animation-duration: 0.5s;
}

.nav-link{
  animation-name: fade;
  animation-duration: 0.2s;

}

#nav-link1, #nav-link2, #nav-link3, #nav-link4 {
  animation: fade 1.0s forwards;
  animation-duration: 0.5s;
  opacity: 0; 
}

#nav-link1{
  animation-delay: 0.125s;
}

#nav-link2{
  animation-delay: 0.25s;
}

#nav-link3{
  animation-delay: 0.5s;

}

#nav-link4{
  animation-delay: 0.75s;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: whitesmoke;
  font-weight: 800;
}

.navbar-nav .nav-item.active .nav-link {
  color: rgb(180, 180, 180);
  background-color: rgba(0, 0, 0, 0.103);
}

.navbar-brand{
  color: whitesmoke;
}

.navbar-dark .nav-item:hover .nav-link {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.103);
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes dance {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(-15deg);
  }
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-50px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
