/* Jquery Accordion Styling */

.accordian{
	max-width:1200px;
	display: block;
	margin:50px auto;
}

.accordian .card{
	box-shadow: 0px 0px 5px rgb(212, 212, 212);
	margin-bottom:20px;
	float: left;
	width: 100%;
}
.accordian .card .card-header{
	cursor: pointer;
  	color: rgb(51, 67, 162);
	position: relative;
	background-color: rgb(51, 67, 162);
	margin:0;
	padding:5px 5px;

}

h3 {
  background-color: rgb(50, 57, 121);
  padding:15px 15px;
  border-radius: 4px;
}

.accordian .card .card-header {
	position: relative;
}

.accordian .card .card-header span{
	position: absolute;
	right:10px;
	top:10px;
	height:25px;
	width:25px;
	color:rgb(51, 67, 162);
	background-color: rgb(255, 255, 255);
	border-radius:50%;
	text-align: center;
	line-height:25px;
	font-size:13px;
}

.accordian .card .card-body{
	padding:20px;
}
.accordian .card .card-body{
	display: none;
}

.accordian .card-body{
 display: block;
}

.accordian .card .card-body{
	font-size: 15px;
	line-height: 24px;
	color:rgb(68, 68, 68);
	margin:0px;
}

.card-body {
  background-color: rgb(51, 67, 162);
}

#backtotopBtn {
  display: none;
  position: fixed;
  z-index: 99;
  background-color: rgb(51, 67, 162);
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  color: whitesmoke;
  font-family: 'Abel';
box-shadow: 0px 0px 2px rgb(212, 212, 212);
}

#backtotopBtn:hover {
  background-color: rgb(0, 110, 255);
}

/* Mobile Responsiveness */
@media (max-width: 600px){
  #backtotopBtn {
    background-color: rgba(0, 153, 255, 0.075);
    box-shadow: 0px 0px 0px rgb(212, 212, 212);
    font-size: 12px;
  }

  h3 {
	font-size: 1.6rem
  }
}
